<!DOCTYPE htm>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="img/favicon.png">
        <link href="statics/config1.css" rel="stylesheet" />
        <link href="statics/config2.js" rel="stylesheet" />
        <link href="statics/config3.js" rel="stylesheet" />
        <link href="statics/config4.js" rel="stylesheet" />
        <link href="statics/test1/config.css" rel="stylesheet" />
        <link href="statics/test1/test2/confddsfsig.css" rel="stylesheet" />
        <script type="text/javascript" src="statics/config.js" ></script>
    </head>
    <body onload="//test()">
        {{  nomem  }}{{jkjk}}
        <form action="/config" method="POST" target="_self">
            <label>test1: <input type="text" name="test1" /></label><br>
            <label>test2: <input type="text" name="test2" /></label><br>
            <label>test3: <input type="text" name="test3" /></label><br>
            <input type="submit" value="enviar" />
        </form>
    </body>
</html>