<!DOCTYPE htm>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="img/favicon.png">
        <link href="statics/bootstrap.min.css" rel="stylesheet" />
        <script type="text/javascript" src="statics/jquery.min.js" ></script>
        <script type="text/javascript" src="statics/popper.min.js" ></script>
        <script type="text/javascript" src="statics/bootstrap.min.js" ></script>
    </head>
    <body>
        <div class="container">
            <h1 style="color: red">Olá mundo!!</h1>
            <br>
            {{  address  }}
            <br>
            {{  name  }}
            <br>
            <img src="img/favicon.png" alt="Smiley face" height="42" width="42">
        </div>
    </body>
</html>