<!DOCTYPE htm>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="img/favicon.png">
        <link href="statics/bootstrap.min.css" rel="stylesheet" />
        <script type="text/javascript" src="statics/jquery.min.js" ></script>
        <script type="text/javascript" src="statics/popper.min.js" ></script>
        <script type="text/javascript" src="statics/bootstrap.min.js" ></script>
    </head>
    <body>
        <div class="container">
            <table class="table">
                <thead>
                    <tr><th>Printer name</th><th>Param name</th></tr>
                </thead>
                <tbody>
                    {{ printers }}
                </tbody>
            </table>
        </div>
    </body>
</html>