<!DOCTYPE htm>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="img/favicon.png">
        <link href="statics/bootstrap.min.css" rel="stylesheet" />
        <script type="text/javascript" src="statics/jquery.min.js" ></script>
        <script type="text/javascript" src="statics/popper.min.js" ></script>
        <script type="text/javascript" src="statics/bootstrap.min.js" ></script>
    </head>
    <body>
        <pre>
^XA
^MCY
^XZ
^XA
^FWN^CFD,32^PW798^LH0,0
^CI0^PR2^MNY^MTT^MMT^MD0^PON^PMN^LRN
^XZ
^XA
^DFR:TEMP_FMT.ZPL
^LRN
^XZ
^XA
^XFR:TEMP_FMT.ZPL
^FO4,11^GB792,450,7,B,0^FS
^BY3^FO200,149^BCN,182,N,N,N^FD>:21156^FS
^ADN,28,22^FO50,58^FDMINERAL CREAM 100ML^FS
^ADN,52,30^FO170,360^FD21156^FS
^ADN,18,10^FO334,425^FDAUTOLOG WMS^FS
^PQ,0,1,Y
^XZ
        </pre>
    </body>
</html>