<!DOCTYPE htm>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="static/config.css" rel="stylesheet" />
        <link href="static/test1/config.css" rel="stylesheet" />
        <link href="static/test1/test2/confddsfsig.css" rel="stylesheet" />
        <script type="text/javascript" src="static/config.js" ></script>
    </head>
    <body onload="//test()">
        {{  nomem  }}{{jkjk}}
        <form action="/config" method="POST" target="_self">
            <label>test1: <input type="text" name="test1" /></label><br>
            <label>test2: <input type="text" name="test2" /></label><br>
            <label>test3: <input type="text" name="test3" /></label><br>
            <input type="submit" value="enviar" />
        </form>
    </body>
</html>